#sidebar a,
#sidebar a:hover,
#sidebar a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}


#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: calc(100vh);
    background: #2b5889;
    color: #fff;
    transition: all 0.3s;
    z-index: 1;
    position: fixed;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover,
#sidebar ul li a.active {
    color: #fff;
    background: rgba(18, 184, 218,0.8);
}

#sidebar a.dropdown-toggle,
#sidebar a.dropdown-toggle:hover {
    color: #2b5889;
    background: #ddd;
}

#sidebar_button {
    left: calc(204px);
    top: 29%;
    width: 10px;
    border: 10px solid #2b5889;
    background: #2b5889;
    color: #fff;
    position: absolute;
    padding: 0px 35px 0 0px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.canEdit {
    background-color: #ff5656;
    color: white;
}

.datared {
    color: red;
    font-weight: bold;
}

.text-right-input {
    padding-right: 0.3rem;
    text-align: right;
}

@media (max-width: 1700px) {
    /*#sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    } 
    #sidebarCollapse span {
        display: none;
    } */
}